/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*Font set up*/

html{
  font-size: 62%;
}

  /*Extra Normalizing*/

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--acsent-02);
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

/******************************************
/* Reuse and Common Declarations
/*******************************************/

  /*Color*/

  :root {
    --main-00: #006567;
    --main-01: #7CC1AC;
    --dark-acsent-00 : #006567;
    --light-acsent-01: #C38D9D;
    --light-acsent-02: #31A594;
    --light-acsent-03: #9EECE0;
    --orange-acsent: #DD7351;
  }

/******************************************
/* LAYOUT
/*******************************************/

  /*General Layout*/

  html {
    overflow-x: hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

   .flex-column {
    display: flex;
    flex-direction: column;
   }

   body {
    background-color: var(--main-01);

    text-align: center;
   }

   main {
    border: 2px solid red;

    display: flex;
    text-align: center;
   }

   button {

    margin: 0 auto;
    width: 75px;
   }





/******************************************
/* ADDITIONAL STYLES
/*******************************************/


   /* Header */

   header {
    border: 2px solid orange ;

    width: 100%;
   }

   .header__nav {
    border: 2px solid purple ;
    
    display: flex;
    justify-content: center;
   }

   .header__nav ul {
    border: 2px solid green;
    
    display: flex;
    justify-content: space-around;
    width: 100%;
   }


   /* Tittle */

   .tittle {
    border: 2px solid purple ;

    padding: 15rem 0;
   }

   .tittle > * {
    margin-bottom: 9px;
   }

   .tittle__img {
    border: 2px solid purple ;
    
    width: 90%; 
    height: 100%;
    max-width: 1300px;   
   }

    /*Social Media*/
      .social-medias {

        justify-content: space-around;
        margin: 0 auto;
        width: 12rem;
      }

      .social-medias img {
        width: 2.2rem;
      }

   /* About Me */

   .about-me {
    background-color: var(--main-00);
   }

   .about-me__body {
    border: 2px solid green;

    padding: 3rem 5rem 10rem 5rem;
    margin: 0 auto;
    /* background-color: var(--dark-acsent-00); */
    gap: 2.5rem;
    width: min(50rem, 100%);
  }

  .about-me__body > * {

    max-width: 557px;
    margin: auto;
  }

  /* Website Section */

  .website-tittle {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-acsent);
    height: 60px;
  }

  .websites h2 {

    margin: 0;
  }

  .website__section {
    
    display: flex;
    flex-direction: column;
  }

  .website__body {
    border: 2px solid green;

    display: flex;
    flex-direction: row;
  }

  .website__left-side {
    border: 2px solid purple;

    display: flex;
    flex-direction: column;
    width: 50%;
  }  

  .website__right-side {


    width: 50%;
  }

  .dark-bg {
    background-color: var(--main-00);
  }


  /* Footer Section */

  footer {
    border: 2px solid purple;

    background-color: var(--orange-acsent);
    padding: 35px;
    gap: 5px;
  }

  footer > * {
    border: 2px solid red;
  }