/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*Font set up*/

html{
  font-size: 62%;
}

  /*Extra Normalizing*/

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--acsent-02);
  }

  h4 {
    margin: 0;
  }

/******************************************
/* Reuse and Common Declarations
/*******************************************/

  /*Color*/

  :root {
    --main-00: #006567;
    --dark-acsent-00 : #006567;
    --light-acsent-01: #C38D9D;
    --light-acsent-02: #31A594;
    --light-acsent-03: #9EECE0;
    --orange-acsent: #DD7351;
  }

/******************************************
/* LAYOUT
/*******************************************/

  /*General Layout*/

  html {
    overflow-x: hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

   .flex-column {
    display: flex;
    flex-direction: column;
   }

   body {
    /* border: 2px solid red; */

    align-items: center;
    text-align: center;
   }





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
